@import 'text.css';
@import 'Stylesheet.css';


body {
	background-image: url(../img/img2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.navbar {
    border-radius: 0px;
}

.yt-player-1 {
	display: inline-block;
	margin: 82px;
	padding-top: -77px;
}

.yt-player-2 {
	display: inline-block;
}



