@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* color: #F0C21B; color to hold in mind*/

a {
    color: white;
}

body {
	font-family: 'Oswald';
}

#index-text-1 {
	padding-top: 20px;
	text-align: center;
	font-size: 32px;
	padding-top: 30px;
    color: #4f4f4f;
}

#index-text-2 {
	text-align: center;
}

.index-text-3-1 {
    font-size: 24px;
    padding: 109px 155px;
    color: #4f4f4f;
}

#index-text-3-2 {
    margin: -73px 42px;
    color: white;
}

.index-text-3-3 {
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: -223px;
}

#f-text-1 {
    text-align: center;
    color: white;
    font-size: 35px;
}

#f-text-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

#f-text-3 {
    margin-left: 54px;
    color: orange;
    font-size: 28px;
    margin-top: 60px;
}

#f-text-4 {
    color: white;
    font-size: 15px;
}

.child1 {
    display: inline-block;
    margin-left: 179px;
    font-size: 22px;
}

.child2 {
    display: inline-block;
    margin-left: 400px;
    font-size: 22px;
}